<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <header>
        <h1>Upload daily prompts below</h1>
    </header>
    <main>
        <div id="uploadPrompt">
            <label for="day">Day</label>
            <input type="number" name="day" id="day">
            <label for="prompt">Prompt</label>
            <textarea name="prompt" id="prompt" cols="30" rows="10"></textarea>
            <button id="upload">Upload</button>
        </div>
        <div id="prompts">

        </div>
    </main>
</body>
<script src="/admin.js"></script>
</html>